.container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.content{
    padding: 20px;
}

a{
    text-decoration: none;
    border: 1px solid black;
    margin-right: 10px;
    color: black;
    padding: 10px;
}